/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

 body {	background: #e4c7b0;
		background-image: url(../images/cif/texturebg.jpg);
	}
	
h2 { font-family: 'funktion'; color:#695836; font-size: 400%; }
h2 .orange{ color:#cf6517; }



/* #Page Styles
================================================== */

#pollyistwo h2 { margin-top: 125px; }

#shesbeenabandoned  { text-align:center; }
#shesbeenabandoned  h2 { font-size: 250%; }
#shesbeenabandoned .orange { font-size: 150%; line-height: 100%; }


#section1image1 .image { margin-left: -60px; }
#section1image1 .copy { margin-left: 180px; }





/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'funktion';
	    src: url('../fonts/Funktion.otf');
	    src: url('../fonts/Funktion.eot?iefix') format('eot'),
	         url('../fonts/Funktion.woff') format('woff'),
	         url('../fonts/Funktion.ttf') format('truetype'),
	         url('../fonts/Funktion.otf') format('opentype'),
	         url('../fonts/Funktion.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }